*{
    font-family: 'Poppins',  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btnStyle{
    padding: 2px 15px;
    border: 1px solid gray;
    background: gainsboro;
    color: black;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    transition:all 0.5s ease;
    font-weight: 600;
}
.btnStyle:hover{
    background: #414141;
    color:white;
    border: 1px solid white;
}